.panel-container {
  display: flex;
  min-height: 100vh;
}

.panel {
  background: white;
  padding: 15px;
}
.panel:nth-child(3) {
  overflow: scroll;

}
.resizer {
border-left: 3px solid lightgrey;
  background: darkGray;
  position: relative;
  cursor: col-resize;
  flex-shrink: 0;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 
}


